<template>
    <section class="section">
        <Tenders :placement="Number(this.$route.params.id)" :isNewWindow="true"/>
    </section>
</template>

<script>
import Tenders from '~/components/Tenders.vue'

import { mapState } from 'vuex'

export default {
    components: {
        Tenders
    },

    validate ({ params }) {
        return /^\d+$/.test(params.id)
    },
}
</script>

<style>
</style>