<template>
    <div>
        <b-field 
            label="Дата публикации" 
            label-position="on-border"
            :type="validate(dates.publicationDate) ? '' : 'is-danger'"
            
        >
            <b-input size="is-small" v-model="dates.publicationDate"></b-input>
        </b-field>
        <b-field 
            label="Начало подачи заявок" 
            label-position="on-border"
            :type="validate(dates.startDocDate) ? '' : 'is-danger'"
        >
            <b-input size="is-small" v-model="dates.startDocDate"></b-input>
        </b-field>
        <b-field 
            label="Окончание подачи заявок" 
            label-position="on-border"
            :type="validate(dates.finishDocDate) ? '' : 'is-danger'"
        >
            <b-input size="is-small" v-model="dates.finishDocDate"></b-input>
        </b-field>
        <b-field 
            label="Дата проведения торгов" 
            label-position="on-border"
        >
            <b-input size="is-small" v-model="dates.completedDate"></b-input>
        </b-field>
        <b-notification
            v-if="false"
            type="is-warning"
        >
            <h6 class="title is-7">Порядок дат нарушен</h6>
        </b-notification>
    </div>
</template>

<script>
export default {
    props: {
        dates: Object,   
    },

    computed: {
    },

    methods: {
        validate(str_date){
            return !!str_date && str_date.length > 4;
        },
        validateDates(){
            let dates = this.$props.dates;

            return compareDate(dates.publicationDate, dates.startDocDate) != -1
                && compareDate(dates.startDocDate, dates.finishDocDate)   != -1
                && compareDate(dates.finishDocDate, dates.completedDate)  != -1;

            function compareDate(date_1, date_2){
                if(!date_1 || !date_2)
                    return 0;

                date_1 = new Date(date_1);
                date_2 = new Date(date_2);

                if(date_1 === date_2)
                    return 0;

                if(date_1 > date_2)
                    return -1;
                else
                    return 1;
            }
        },
    }
}
</script>