<template>
    <b-field
        :label="label"
        :type="!validate(this.localValue) ? 'is-danger' : ''"
    >
        <b-datetimepicker
            ref="datepicker"
            editable
            :value="validate(this.$props.value) ? new Date(this.$props.value) : null"
            @input="change"
        />
    </b-field>
</template>

<script>
export default {
    props: [
        'label',
        'value',
    ],

    data() {
        return {
            local: null,
        }
    },

    computed: {
        localValue(){
            return this.local || this.$props.value;
        }
    },

    methods: {
        validate(value){
            return /^20\d\d-\d[1-9]-\d[1-9] \d\d:\d\d:\d\d$/.test(value) || value instanceof Date;
        },

        change(event){
            this.$refs.datepicker.toggle();
            this.local = event;
            this.$emit('input', event);
        }
    }
}
</script>