<template>
    <div class="columns">
        <b-field 
            :type="isValid ? '' : 'is-danger'"
            :label="label + ': '"
            class="column is-4"
            label-position="on-border"
        >
            <b-input
                v-if="isRedact"
                :value="value"
                size="is-small"
                @input="this.$emit('input', $event)"
            />
            
        </b-field>
        <div class="column  is-size-7">
            <p v-if="!isRedact"> {{ value }} </p>
        </div>
        <button 
            v-if="!isRedact"
            class="button" 
            @click="isRedact=true"
        >
            <b-icon
                icon="border-color"
                :type="isValid ? 'is-info' : 'is-danger'"
            />
        </button>
    </div>
</template>

<script>
export default {
    props: [
        'label',
        'value',
    ],

    data () {
        return {
            isRedact: false,
            isFocus: false,
            localValue: '',
        }
    },

    mounted: function(){
        setTimeout(() => this.isRedact = !this.validate(this.$props.value), 100);
    },

    computed: {
        isValid(){
            return this.validate(this.$props.value);
        }
    },

    methods: {
        validate(value){
            return /^\d{10,12}$/.test(value);
        },
        changeValue(){
            if(this.validate(this.localValue)){
                this.$emit('input', this.localValue);
                this.isRedact = false;
            }
        }
    }
}
</script>