<template>
    <section class="section">
        <ProgressBar
            ref="loading"
        />
        <h1 class="title is-5">Тендеров всего: {{ tenderTotal }} </h1>
        <b-field grouped group-multiline>
            <div class="control">
                <b-switch v-model="showEmptySects">Показать секции без тендеров</b-switch>
            </div>
        </b-field>
        <section v-for="(title, type) in getTypes(this.$props.placeTypes)" :key="type" class="section">
            <Table :places="places" :placesType="type" :title="title"/>
        </section>
    </section>
</template>

<script>
import ProgressBar from '~/components/ProgressBar.vue';
import Table   from '~/components/PlacementsTable.vue'

import { mapState } from 'vuex'

export default {
    components: {
        ProgressBar,
        Table,
    },

    props: {
        placeTypes: Object,
    },

    data () {
        return {
            places: [],
            showEmptySects: false,
        }
    },

    mounted: function(){
        this.$refs.loading.start();
    },

    async fetch () {
        this.places = await this.$store.dispatch('loadPlacements');
        this.showEmptySects = !this.isTypes(this.$props.placeTypes);
        this.$refs.loading.finish();
    },

    fetchOnServer: false,

    computed: {
        tenderTotal(){
            return this.places.reduce((count, place) => count + place.count, 0);
        },
        tenderSectTotal(){
            return this.places.reduce(
                (count, place) => count + place.count, 
            0);
        }
    },

    methods: {
        isShowSect(sect){
            if(sect == 'sediment')
                return this.places.some(place => place.statusPlacement) || this.showEmptySects;
            else
                return this.places.some(place => (place.domId == sect && !place.statusPlacement)) || this.showEmptySects;
        },
        getTypes (types){
            let placeTypes = {};

            for(let type in types)
                if(this.isShowSect(type))
                    placeTypes[type] = types[type];

            return placeTypes;

        },
        isTypes (types){
            let placeTypes = {};

            for(let type in types)
                if(this.isShowSect(type))
                    placeTypes[type] = types[type];

            return Object.keys(placeTypes).length > 0;

        },
        formatDate(date){
            var options = {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                weekday: 'long',
                timezone: 'UTC',
                hour: 'numeric',
                minute: 'numeric',
            };

            date = new Date(date);

            return date.toLocaleString("ru", options);
        }
    }
}
</script>

