<template>
    <section>
        <ProgressBar
            ref="loading"
        />
        <h1 class="title is-5">{{ title }} ({{ tenderTotal ? tenderTotal + ' тендеров' : 'Нет тендеров' }})</h1>
        <b-table
            v-if="placements.length > 0"
            id="placements"
            :data="placements"
            :paginated="placements.length > 10"
            :per-page="10"
            default-sort-direction="desc"
            default-sort="count"
            detailed
            detail-key="name"
            :show-detail-icon="true"
        >
                <b-table-column is-6 field="name" label="Площадка" sortable v-slot="props">
                    <NuxtLink :to="`/placement/${props.row.placementId}`" target="_blank">
                    {{ props.row.name }}
                    </NuxtLink>
                </b-table-column>

                <b-table-column field="placementId" label="Сайт площадки" sortable v-slot="props">
                    <a :href="formateHref(props.row.url)" target="_blank">
                        Перейти
                    </a>
                </b-table-column>

                <b-table-column field="count" label="Тендеры" sortable v-slot="props">
                    {{ props.row.count }}
                </b-table-column>

                <b-table-column field="lastdateadd" label="Дата добавления последнего тендера" sortable v-slot="props">
                    <time>{{ formatDate(props.row.lastdateadd) }}</time>
                </b-table-column>

                <b-table-column field="placementId" label="" v-slot="props">
                    <b-button
                        v-if="placesType == 'sediment'" 
                        type="is-success is-light" 
                        @click="setStatusPlacement(props.row.placementId, false)"
                    >
                        Вернуть
                    </b-button>
                    <b-button
                        v-else
                        type="is-warning is-light" 
                        @click="setStatusPlacement(props.row.placementId, true)"
                    >
                        Отложить
                    </b-button>
                </b-table-column>

                <template slot="detail" slot-scope="props">
                <div class="content">
                    <Tenders :placement="Number(props.row.placementId)" />
                </div>
                </template>
        </b-table>
    </section>
</template>

<style>
    .content ul {
        list-style-type: none;
    }
    
</style>

<script>
import ProgressBar from '~/components/ProgressBar.vue';
import Tenders from '~/components/Tenders.vue'

export default {
    components: {
        ProgressBar,
        Tenders,
    },

    props: {
        isNewWindow: Boolean,
        places: Array,
        placesType: String,
        title: String, 
    },

    computed: {
        placements(){
            if(this.$props.placesType == 'sediment')
                return this.places.filter(place => place.statusPlacement);
            else
                return this.places.filter(place => (place.domId == this.$props.placesType && !place.statusPlacement));
        },

        tenderTotal(){
            return this.placements.reduce(
                (count, place) => count + place.count, 
            0);
        }
    },

    methods: {
        setStatusPlacement(placementId, isSediment){
            let status = isSediment ? 1 : 0;

            this.$refs.loading.start();

            this.$store.dispatch('setPlacementStatus', { placementId, status})
            .then(res => {
                if(!res.success)
                    if(status)
                        this.errorNotif('Не удалось убрать площадку');
                    else
                        this.errorNotif('Не удалось вернуть площадку');

                if(this.$refs.loading)
                    this.$refs.loading.finish();
            });
        },
        formatDate(date){
            var options = {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                timezone: 'UTC',
                hour: 'numeric',
                minute: 'numeric',
            };

            let objDate      = new Date(date);
            let formatedDate = objDate.toLocaleString("ru", options);

            let agoDays      = (Date.now() - Date.parse(date)) / (1000 * 60 * 60 * 24);
            agoDays          = Math.floor(agoDays);

            let agoMoutns = '';

            if(agoDays > 30){
                agoMoutns = Math.floor(agoDays / 30.5);

                if(agoMoutns > 4)
                    agoMoutns = `${agoMoutns} месяцев`;
                else if(agoMoutns > 1)
                    agoMoutns = `${agoMoutns} месяца`;
                else
                    agoMoutns = `Месяц`;

                agoMoutns += ' назад';
            }
            else {

                let days = Number(String(agoDays).substr(-1, 1))

                if(agoDays == 0) 
                    agoDays = 'Сегодня';
                else if(agoDays == 1) 
                    agoDays = 'Вчера';
                else if(agoDays > 10 && agoDays < 20) 
                    agoDays = `${agoDays} дней назад`;
                else if(days > 4)
                    agoDays = `${agoDays} дней назад`;
                else if(days > 1)
                    agoDays = `${agoDays} дня назад`;
                else if(days == 1)
                    agoDays = `${agoDays} день назад`;
                else
                    agoDays = `${agoDays} дней назад`;
                
                
            }

            return `${formatedDate} (${agoMoutns || agoDays})`;
        },
        formateHref(url){
            var match = url.match(/^(http)/);
            if(match)
                return url;
            else
                return 'http://' + url;
        },
        errorNotif(msg) {
            this.$buefy.notification.open({
                message: msg,
                type: 'is-danger'
            })
        }
    }
}
</script>