<template>
    <div v-if="show" class="loading-page section">
        <b-progress type="is-warning" ></b-progress>
    </div>
</template>

<script>
    export default {
        data: () => ({
            loading: false,
            show: false,
        }),
        methods: {
            start() {
                this.loading = true;
                setTimeout(() => this.show = this.loading, 200);
            },
            finish() {
                this.loading = false;
                this.show    = false;
            }
        }
    }
</script>