<template>
<section>
    <ProgressBar
        ref="loading"
    />
    <h1 v-if="isNewWindow && !!tenders.length" class="title is-2"> Тендеры площадки {{ placeName }} </h1>
    <h1 v-if="!tenders.length && !$fetchState.pending" class="subtitle is-5"> Нет тендеров </h1>
    <b-table
        v-if="!!tenders.length"
        ref="tenderTable"
        :data="tenders"
        :paginated="tenders.length > 10"
        :per-page="10"
        detailed
        detail-key="id"
        :show-detail-icon="true"
    >

      <b-table-column field="dateAdd" label="Дата добавления тендера" sortable v-slot="props">
            <time>{{ formatDate(props.row.dateAdd) }}</time>
      </b-table-column>

      <b-table-column field="notificationNumber" label="Тендер" sortable v-slot="props">
          <NuxtLink :to="`/tender/${props.row.id}`" target="_blank">
            {{ props.row.notificationNumber }}
          </NuxtLink>
      </b-table-column>

      <b-table-column field="addInfo" label="Причина" sortable v-slot="props">
            {{ getCause(props.row.addInfo) }}
      </b-table-column>

      <template slot="detail" slot-scope="props">
        <TenderRedactor @close="closeTender(props.row)" :tenderId="Number(props.row.id)"/>
      </template>
      
    </b-table>
</section>
</template>

<script>

import ProgressBar from '~/components/ProgressBar.vue';
import TenderRedactor from '~/components/TenderRedactor.vue'
import Tender from '~/components/Tender.vue'

import { mapState } from 'vuex'

export default {
components: {
    ProgressBar,
    TenderRedactor,
    Tender,
},

props: {
    isNewWindow: Boolean,
    placement: Number,
},

data() {
    return {
        tenders: [],
    }
},

mounted: function(){
    this.$refs.loading.start();
},

async fetch() {

    this.tenders = await this.$store.dispatch('loadTenders', this.$props.placement);
    if(this.tenders.length == 0)
        if(this.$props.isNewWindow)
            this.$router.push('/');
    
    this.$refs.loading.finish();
},

fetchOnServer: false,

computed: {
    placeName (){
        if(this.tenders.length > 0)
            return this.tenders[0].placeName;
        else
            return 'Имя площадки';
    }
},

methods: {
    deleteTenderById(id){
        let tender = this.tenders.filter(tender => tender.id == id)[0];

        if(tender){
            let index = this.tenders.indexOf(tender);
            this.tenders.splice(index, 1);
        }
    },
    closeTender(row) {
        this.$refs.tenderTable.closeDetailRow(row);
        setTimeout(() => this.deleteTenderById(row.id), 0);
    },
    formatDate(date){
        var options = {
            month: 'long',
            day: 'numeric',
            timezone: 'UTC',
            hour: 'numeric',
            minute: 'numeric',
        };

        date = new Date(date);

        return date.toLocaleString("ru", options);
    },

    getCause (cause){
        switch(cause){
            case "custfullName":
                return "Имя заказчика";
            case "array is't full":
                return "Неправильные даты";
            case "price":
                return "Цена";
            default:
                return "Другое";
        }
    }
},

}
</script>

<style>
</style>