<template>
    <div class="container redact">
        <ProgressBar
            ref="loading"
        />
        <header class="card-header level top">
            <div class="level-left">
                <h2 class="level-item title is-5"> Редактирование тендера </h2>
            </div>
            <div class="level-right">
                <b-button class="level-item" type="is-warning" size="is-small" @click="$fetch()">     Сбросить</b-button>
                <b-button class="level-item" type="is-success" size="is-small" @click="addTender">    Добавить</b-button>
                <b-button class="level-item" type="is-danger"  size="is-small" @click="deleteTender"> Удалить </b-button>
            </div>
        </header>
        <b-collapse 
            class="card" 
            animation="slide" 
            aria-id="MainInfoControl" 
            :open="true"
        >
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="MainInfoControl">
                    <p class="card-header-title">
                        <u> Основная информация </u>
                    </p>
            </div>
            <div class="card-content">
                <section
                    v-if="!(tender.fullName || tender.shortName)"
                    class="section"
                >
                    <h4 class="title is-6">Организатор</h4>

                    <NameInput label="Полное наименование"   v-model="tender.fullName"/>
                    <NameInput label="Короткое наименование" v-model="tender.shortName"/>
                    <NameInput label="Юридический адрес"     v-model="tender.postalAddress"/>
                    <NameInput label="Фактический адрес"     v-model="tender.factualAddress"/>

                    <InnInput label="ИНН" v-model="tender.inn"/>

                </section>
                <div class="columns">
                    <div class="column is-4">
                        <DatesInput
                            :dates.sync="dates"
                        />
                    </div>
                    <div class="column">
                        <h4 class="title is-6">Тендер: {{ tender.notificationNumber }}
                            <a v-if="!!tender.href" class="visit is-size-7" :href="formateHref(tender.href)" target="_blank">
                                Первоисточник
                            </a>
                            <p v-else> Нет ссылки </p>
                        </h4>
                            
                        <p class="is-size-7"><b>Имя: </b> {{ tender.nameTender }} </p>
                        <p class="is-size-7"><b>Организатор: </b> {{ tender.fullName || tender.shortName || 'Пуст' }} </p>

                        <div class="level">
                            <div class="level-left">
                                <h6 class="title is-7">Цена: </h6>
                            </div>
                            <b-field
                                ref="price" 
                                class="level-right price"
                                :type="parseFloat(price) ? '' : 'is-danger'"
                            >
                                <p class="control summ">
                                    <button
                                        class="button is-primary is-small"
                                        @click="price = parseFloat(lotPriceSum)"
                                    >
                                        ∑
                                    </button>
                                </p>
                                <b-input
                                    v-model="price"
                                    size="is-small"
                                />
                            </b-field>
                            <b-field  
                                class="level-right"
                            >
                                <b-select
                                    placeholder="Select a name" 
                                    v-model="tender.currency"
                                    size="is-small"
                                >
                                    <option
                                        v-for="currency in currencies"
                                        :value="currency.id"
                                        :key="currency.id">
                                        {{ currency.name }}
                                    </option>
                                </b-select>
                            </b-field>
                        </div>
                    </div>
                </div>
            </div>
        </b-collapse>
        <b-collapse 
            class="card" 
            animation="slide" 
            aria-id="lotControl"
            :open="true"
        >
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="lotControl"
            >
                <p class="card-header-title">
                    <u> Лоты ({{ lots.length || ': Нет' }}) </u>
                </p>
            </div>
            <div class="card-content">
                <div class="column">
                    <b-button type="is-success" size="is-small" @click="addLot">   Добавить</b-button>
                    <b-button type="is-danger"  size="is-small" @click="clearLots">Очистить</b-button>
                </div>
                <b-table
                    :data="tender.lots"
                    :paginated="lots.length > 10"
                    :per-page="10"
                    :bordered="true"
                    class="is-size-7"
                >
                    <b-table-column 
                        field="ordinalNumber" 
                        label="Номер"
                        sortable 
                        numeric 
                        width="70" 
                        v-slot="props"
                    >
                        <h5 class="title is-7">{{ props.row.ordinalNumber }}</h5>
                    </b-table-column>
                    <b-table-column 
                        field="subject" 
                        label="Имя и место доставки"
                        width="600" 
                        sortable v-slot="props"
                    >
                        <b-field 
                            label="Имя"
                            :type="!!props.row.subject ? '' : 'is-danger'"
                            label-position="on-border"
                            >
                            <TextInput v-model="props.row.subject"/>
                        </b-field>
                        <b-field label="Адрес" label-position="on-border">
                            <TextInput v-model="props.row.address"/>
                        </b-field>
                    </b-table-column>
                    <b-table-column 
                        field="price" 
                        :label="'Цена. Сумма: ' + lotPriceSum"
                        sortable 
                        numeric 
                        width="150" 
                        v-slot="props"
                    >
                        <b-input
                            size="is-small"  
                            v-model="props.row.price"
                        />
                    </b-table-column>
                    <b-table-column 
                        field="ordinalNumber" 
                        :label="'Лотов всего: ' + lots.length"
                        sortable 
                        numeric 
                        width="150" 
                        v-slot="props"
                    >
                        <b-button type="is-danger is-light" size="is-small" @click="delLot(props.row.ordinalNumber)">Удалить</b-button>
                    </b-table-column>
                </b-table>
            </div>
        </b-collapse>
        <b-collapse 
            class="card" 
            animation="slide" 
            aria-id="DocControl" 
            :open="true"
        >
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="DocControl">
                    <p v-if="!!documents.length" class="card-header-title">
                        <u> Документы {{ documents.length }} </u>
                    </p>
                    <p v-else class="card-header-title">
                        Нет документов
                    </p>
            </div>
            <div class="card-content">
                <li class="is-size-7" v-for="doc in documents" :key="doc.fileName">
                    <a :href="doc.url" target="_blank">
                        {{ doc.docDescription }}
                    </a>
                </li>
            </div>
        </b-collapse>
        <b-modal 
            v-model="isOk"
            ref="modalOk"
            scroll="keep"
            fullscreen
        >
            <div class="card">
                <header class="modal-card-head columns">
                    <div class="column is-2">
                        <b-button type="is-info"    size="is-small" @click="$refs.modalOk.close()">Отмена</b-button>
                    </div>
                    <div class="column is-2">
                        <b-button type="is-warning" size="is-small" @click="updateTender(), $refs.modalOk.close()">Отправить</b-button>
                    </div>
                </header>
                <div class="card-content">
                    <Tender @close="$refs.modalOk.close()" :rawTender="tender" :isNewWindow="false"/>
                </div>
            </div>
        </b-modal>
    </div>        
</template>

<style>
    a.visit {
        color: blue;
    }
    a.visit:visited {
        color: purple;
    }
    .title.is-5 {
        margin-left: 0.75rem;
    }
    .title.is-6 {
        margin-bottom: 0.75rem;
    }
    p.control.summ {
        margin: 0;
        margin-left: 0.75rem;
    }
    .field.level-right.price {
        margin-bottom: 0;
    }
    .card-header.level {
        padding: 0;
        margin:  0;
    }
    .card-content .section {
        padding: 0.75rem;
    }
    .card-content {
        padding: 0.75rem;
    }

    .notification {
        padding: 0.75rem;
    }
    .redact {
        width: 650px;
    }
</style>

<script>
import Tender from '~/components/Tender.vue'

import ProgressBar from '~/components/ProgressBar.vue';
import DatesInput from '~/components/DatesInput.vue'
import TextInput from '~/components/TextInput.vue'
import NameInput from '~/components/NameInput.vue'
import InnInput from '~/components/InnInput.vue'
import { mapState } from 'vuex'

export default {
    components: {
        Tender, 

        ProgressBar,
        DatesInput,
        TextInput,
        NameInput,
        InnInput,
    },

    props: {
        tenderId: Number,
        isNewWindow: Boolean,
    },

    data() {
        return {
            currencies: [],
            tender: {
                lots: [],
            },
            isOk: false,
            dates: {
                publicationDate: '',
                startDocDate:    '',
                finishDocDate:   '',
                completedDate:   '',
            },
            price: 0,
        }
    },

    mounted: function(){
        this.$refs.loading.start();
    },

    async fetch() {

        let res  = await this.$store.dispatch('loadRedactTender', this.$props.tenderId);
        if(res.success){
            let tender   = res.tender;
            tender.id    = this.$props.tenderId;
            tender.price = tender.price || 0;
            this.tender  = tender;

            this.getDates();
            this.getPrice();
        }
        else
            this.$emit('close');
        
        this.currencies  = await this.$store.dispatch('loadCurrencies');

        this.$refs.loading.finish();
    },

    fetchOnServer: false,

    computed: {
        lots(){
            return this.tender.lots || [];
        },
        lotPriceSum(){
            if(Array.isArray(this.tender.lots))
                return this.tender.lots.reduce(
                    (price, lot) => lot.price ? parseFloat(this.formatePrice(lot.price)) + price : price, 0
                ).toFixed(2);
            else 
                return 0;
        },
        documents(){
            return this.tender.documents || [];
        },
        priceExlude: {
            get () {
                return  this.tender.priceExcludePlacements 
                        && this.tender.priceExcludePlacements.indexOf(this.tender.placement) !== -1;
            },
            set (newValue) {
                if(newValue)
                    this.tender.priceExcludePlacements = [this.tender.placement];
                else
                    this.tender.priceExcludePlacements = [];
            },
        }
    },

    methods: {
        getDates(){
            for(let date in this.dates)
                this.dates[date] = this.tender[date];
        },
        setDates(){
            for(let date in this.dates)
                this.tender[date] =  this.dates[date];

            if(!this.tender.completedDate)
                this.tender.completedDate = this.tender.finishDocDate;
        },
        getPrice(){
            this.price = this.tender.price || this.price;
        },
        setPrice(){
            this.priceExlude  = !parseFloat(this.price);
            this.tender.price = parseFloat(this.price) || 0;
        },
        addTender(){
            this.setDates();
            this.setPrice();
            this.isOk = true;
        },
        updateTender() {
            this.$refs.loading.start();
        
            this.$store.dispatch('updateTender', this.tender)
            .then(res => {
                if(res.success)
                    this.$emit('close');
                else{
                    this.errorNotif('Тендер не добавлен');
                    this.$fetch();
                }

                this.$refs.loading.finish();
            });

            
        },
        deleteTender() {
            this.$refs.loading.start();

            this.$store.dispatch('deleteTender', this.$props.tenderId)
            .then(res => {
                if(res.success)
                    this.$emit('close');
                else
                    this.errorNotif('Тендер не cкрыт');

                this.$refs.loading.finish();
            });
        },
        addLot() {
            if(!Array.isArray(this.tender.lots))
                this.clearLots();

            this.tender.lots.push({
                ordinalNumber: this.tender.lots.length + 1,
                subject: '',
                address: '',
                price: 0,
            });
        },
        delLot(number){
            let lot = this.tender.lots.filter(lot => lot.ordinalNumber == number)[0];
            if(lot){
                let index = this.tender.lots.indexOf(lot);
                this.tender.lots.splice(index, 1);
            }

            this.tender.lots.forEach((lot, index) => lot.ordinalNumber = index + 1);
        },
        clearLots() {
            this.tender.lots = [];
        },
        formatePrice(price){
            return String(price).replace(',', '.');
        },
        formateHref(url){
            url = typeof url == "string" ? url : '';

            let match = url.match(/^(http)/);
            if(match)
                return url;
            else
                return 'http://' + url;
        },
        errorNotif(msg) {
            this.$buefy.notification.open({
                message: msg,
                type: 'is-danger'
            })
        }
    }
}
</script>

<style>
</style>