<template>
    <section :class="{ section: isNewWindow }">
        <ProgressBar
            ref="loading"
        />
        
        <template v-if="isNewWindow">
            <div class="columns">
                <div class="column">
                    <h2 class="title is-5"> Tендер: <a :href="formateHref(tender.href)" target="_blank"> {{ tender.nameTender }}</a> </h2>
                </div>
                <div class="column is-2"></div>
                <div class="column is-2">
                    <b-button @click="isShowArgv=true">Посмотреть $argv</b-button>
                </div>
            </div>
        </template>

        <b-collapse 
            class="card" 
            animation="slide" 
            aria-id="InfoOrg"
            :open="false" 
        >
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="InfoOrg">
                        <p class="card-header-title is-size-6">
                            <u>Организатор {{ tender.shortName || tender.fullName }}</u>
                        </p>
            </div>
            <div class="card-content">
                <section class="column">
                    <div class="columns">
                        <div class="column is-2">
                            <h6 class="title is-7">Полное наименование: </h6>
                        </div>
                        <div class="column">
                            <p class="is-size-7"> {{ tender.fullName || 'Нет' }} </p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-2">
                            <h6 class="title is-7">Короткое наименовние: </h6>
                        </div>
                        <div class="column">
                            <p class="is-size-7"> {{ tender.shortName || 'Нет' }} </p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-2">
                            <h6 class="title is-7">Юридический адрес: </h6>
                        </div>
                        <div class="column">
                            <p class="is-size-7"> {{ tender.postalAddress || 'Нет адреса' }} </p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-2">
                            <h6 class="title is-7">Фактический адрес: </h6>
                        </div>
                        <div class="column">
                            <p class="is-size-7"> {{ tender.factualAddress || 'Нет адреса' }} </p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-2">
                            <h6 class="title is-7">ИНН: </h6>
                        </div>
                        <div class="column">
                            <p class="is-size-7"> {{ tender.inn || 'Нет адреса' }} </p>
                        </div>
                    </div>
                </section>
            </div>
        </b-collapse>
        <b-collapse 
        class="card" 
        animation="slide" 
        aria-id="MainInfoControl" 
        :open="true">
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="MainInfoControl">
                    <p class="card-header-title is-size-6">
                        <u>Тендер {{ tender.notificationNumber }}</u>
                    </p>
            </div>
            <div class="card-content">
                <div class="columns">
                    <section class="column">
                        <div class="columns">
                            <div class="column is-3">
                                <h6 class="title is-7">Дата публикации: </h6>
                            </div>
                            <div class="column">
                                <p class="is-size-7">{{ tender.publicationDate }}</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <h6 class="title is-7">Начало подачи заявок: </h6>
                            </div>
                            <div class="column">
                                <p class="is-size-7">{{ tender.startDocDate }}</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <h6 class="title is-7">Окончание подачи заявок: </h6>
                            </div>
                            <div class="column">
                                <p class="is-size-7">{{ tender.finishDocDate }}</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <h6 class="title is-7">Дата проведения торгов: </h6>
                            </div>
                            <div class="column">
                                <p class="is-size-7">{{ tender.completedDate }}</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <h6 class="title is-7">Исключение по цене: </h6>
                            </div>
                            <div class="column">
                                <p class="is-size-7">{{ this.priceExlude ? 'Да' : 'Нет' }}</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3">
                                <h6 class="title is-7">Начальная цена: </h6>
                            </div>
                            <div class="column">
                                <p class="is-size-7">{{ tender.price }}</p>
                            </div>
                        </div>
                    </section>
                                   
                </div>
            </div>
        </b-collapse>
        <b-collapse 
        class="card" 
        animation="slide" 
        aria-id="lotControl"
        :open="true">
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="lotControl">
                    <p class="card-header-title is-size-6">
                        <u>Лоты ({{ tender.lots.length || 0 }})</u>
                    </p>
            </div>
            <div class="card-content">
                <b-table
                    :data="tender.lots"
                    :paginated="tender.lots.length > 10"
                    :per-page="10"
                    class="is-size-7"
                >
                    <b-table-column field="subject" label="Имя" sortable v-slot="props">
                        {{ props.row.subject || 'Нет имени' }}
                    </b-table-column>
                    <b-table-column field="address" label="Место доставки" sortable v-slot="props">
                        {{ props.row.address  || 'Нет места' }}
                    </b-table-column>
                    <b-table-column field="price" label="Цена" sortable v-slot="props">
                        {{ props.row.price }}
                    </b-table-column>
                </b-table>
            </div>
        </b-collapse>
        <b-collapse 
            class="card" 
            animation="slide" 
            aria-id="DocControl" 
            :open="false"
        >
            <div
                slot="trigger" 
                slot-scope="props"
                class="card-header"
                role="button"
                aria-controls="DocControl">
                    <p v-if="!!tender.documents.length" class="card-header-title">
                        <u> Документы {{ tender.documents.length }} </u>
                    </p>
                    <p v-else class="card-header-title">
                        Нет документов
                    </p>
            </div>
            <div class="card-content">
                <div class="is-size-7" v-for="doc in tender.documents" :key="doc.fileName">
                    <a :href="doc.url">
                        {{ doc.docDescription }}
                    </a>
                </div>
            </div>
        </b-collapse>

        <b-modal v-model="isShowArgv">
            <div class="card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Массив $argv:</p>
                </header>
                <tree-view
                    :data="tender"
                    :options="{maxDepth: 1}"
                />
            </div>
        </b-modal>

    </section>   
</template>

<script>

import { mapState } from 'vuex';

import ProgressBar from '~/components/ProgressBar.vue';


export default {

     components: {
        ProgressBar,
     },

    props: {
        tenderId: Number,
        rawTender: Object,
        isNewWindow: Boolean,
    },

    data() {
        return {
            isShowArgv: false,
            tender: {
                lots: [],
                documents: [],
            },
        }
    },

    mounted: function(){
        this.$refs.loading.start();
    },

    async fetch() {

        if(this.$props.rawTender){
            this.tender = this.$props.rawTender;

            setTimeout(() => {
                this.$refs.loading.finish();
            }, 100);
                
            return;
        }

        let res  = await this.$store.dispatch('loadRedactTender', this.$props.tenderId);
        if(res.success)
            this.tender = res.tender;
        else
            this.$emit('close');
        
        this.$refs.loading.finish();
    },

    fetchOnServer: false,

    computed: {
        priceExlude: {
            get () {
                return  this.tender.priceExcludePlacements 
                        && this.tender.priceExcludePlacements.indexOf(this.tender.placement) !== -1;
            },
            set (newValue) {
                if(newValue)
                    this.tender.priceExcludePlacements = [this.tender.placement];
                else
                    this.tender.priceExcludePlacements = [];
            },
        },
    },

    methods: {
        formatDate(date) {
            if(!date)
                return "Нет даты";

            var options = {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                timezone: 'UTC',
                hour: 'numeric',
                minute: 'numeric',
            };

            date = new Date(date);

            return date.toLocaleString("ru", options);
        },
        formateHref(url){
            url = typeof url == "string" ? url : '';
            
            let match = url.match(/^(http)/);
            if(match)
                return url;
            else
                return 'http://' + url;
        },
    }
}
</script>

<style>

.links {
  padding-top: 15px;
}
</style>