<template>
    <div>
        <b-input
            ref="fulltext"
            v-show="isFocus"
            type="textarea"
            size="is-small" 
            v-model="value"
            @blur="isFocus=false"
        />
        <b-input
            v-show="!isFocus"
            size="is-small"
            v-model="value"
            @focus="setFocus"
        />
    </div>
</template>

<script>
export default {
    props: [
        'value',
    ],

    data () {
        return {
            isFocus: false,
        }
    },
    

    computed: {
    },

    methods: {
        setFocus(){
            this.isFocus = true;
            this.$refs.fulltext.focus();
        }
    },
}
</script>