<template>
    <Tender @close="closeTender" :tenderId="Number(this.$route.params.id)" :isNewWindow="true"/>
</template>

<script>
import Tender from '~/components/Tender.vue'

import { mapState } from 'vuex'

export default {
    components: {
        Tender
    },

    validate ({ params }) {
        // Должен быть числом
        return /^\d+$/.test(params.id)
    },

    methods: {
        closeTender() {
            this.$router.push('/');
        },
    },
}
</script>