<template>
    <div>
        <b-navbar class="panel">
            <template slot="start">
                <b-navbar-item tag="NuxtLink" to="/">
                        <b-icon
                            icon="home"
                            size="is-large"
                            type="is-info">
                        </b-icon>
                </b-navbar-item>
            </template>
            <template slot="start">
                <b-navbar-item tag="NuxtLink" to="/all">
                    Все
                </b-navbar-item>
            </template>
            <template slot="start">
                <b-navbar-item tag="NuxtLink" to="/gos">
                    Госы
                </b-navbar-item>
            </template>
            <template slot="start">
                <b-navbar-item tag="NuxtLink" to="/commerce">
                    Коммерческие
                </b-navbar-item>
            </template>
            <template slot="start">
                <b-navbar-item tag="NuxtLink" to="/sediment">
                    Отложеные
                </b-navbar-item>
            </template>
        </b-navbar>
        <b-notification 
            v-if="!!error" 
            auto-close
            :duration="10000"
            @close="clearError" 
            type="is-danger"
        >
            <pre>{{ error }}</pre> 
        </b-notification>
        <nuxt v-else/>
    </div>
</template>

<style>
</style>
    
<script>
export default {
    computed: {
        error(){
            return this.$store.state.error;
        }
    },
    methods: {
        clearError(){
            this.$store.commit('setError', null);
        }
    }
}
</script>
