<template>
    <div class="container">
        <h1 class="title" v-if="error.statusCode === 404">Page not found</h1>
        <h1 class="title" v-else> Ошибка: {{ error }} <NuxtLink to="/">На главную</NuxtLink></h1>
    
    </div>
</template>

<script>
export default {
    props: ['error'],
    layout: 'error' // you can set a custom layout for the error page
}
</script>