<template>
    <Placements :placeTypes="types"/>
</template>

<script>
import Placements from '~/components/Placements.vue'

export default {
    components: {
        Placements
    },

    data() {
        return {
            types: {
                '44fz'  : 'Площадки с ФЗ-44', 
                '94fz'  : 'Площадки с ФЗ-94', 
                '223fz' : 'Площадки с ФЗ-223',
            },
        }
    },
}
</script>