<template>
    <Placements :placeTypes="types"/>
</template>

<script>
import Placements from '~/components/Placements.vue'

export default {
    components: {
        Placements
    },

    data() {
        return {
            types: {
                'sediment' : 'Отложенные площадки',
            },
        }
    },
}
</script>

